html {
  background: radial-gradient(#fff176, #f57f17);
  min-height: 100%;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

#firom {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 35px 50px;
}

.custom-form .fieldset, .custom-form .column-50 {
  float: left;
  width: 40%;
  margin: 1% 5%;
}

.custom-form .custom__title {
  color: #6d6d6d;
  font-size: 1.3em;
  font-wight: bold;
  display: block;
  text-align: center;
  padding-bottom: 50px;
}

label {
  color: #353535;
  font-size: 1em;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
}
label.requaried:after {
  content: "*";
  position: absolute;
  right: -10px;
  top: 0;
  color: #FF6800;
}

input[type=text] {
  padding: 10px 20px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  margin-right: 15px;
  color: #353535;
  width: 100%;
}

input[type=text]:focus {
  border-color: #09f;
}

input[type=radio] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}