html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html {
  background: radial-gradient(#fff176, #f57f17);
  min-height: 100%;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

#firom {
  max-width: 720px;
  margin: auto;
  background-color: #fff;
  padding: 0px 20px;
  overflow: auto;
}

.custom-form .fieldset {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.custom-form .fieldset--text {
  width: 100%;
}

.fieldset--radio, .fieldset--checkbox {
  margin-left: 10px;
}

.custom-form .column-50 {
  float: left;
  width: 45%;
  margin: 1% 2.5%;
}

.custom-form .custom__title {
  color: #2c3e50;
  font-size: 1.3em;
  font-wight: bold;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

label {
  color: #353535;
  font-size: 1em;
  margin-right: 20px;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
}
label.requaried:after {
  content: "*";
  position: absolute;
  right: -10px;
  top: 0;
  color: #FF6800;
}
/*
input[type=text] {
  padding: 10px 20px;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  margin-right: 15px;
  color: #353535;
  width: 100%;
}

input[type=text]:focus {
  border-color: #09f;
}
*/
#firom input[type="radio"],
#firom input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
  width: 16px;
  height: 16px;
}
#firom input[type="radio"] + label,
#firom input[type="checkbox"] + label {
  padding-left: 24px;
  margin: 0 20px 0 0;
}
#firom input[type="radio"] + label::before,
#firom input[type="radio"] + label::after,
#firom input[type="checkbox"] + label::before,
#firom input[type="checkbox"] + label::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
#firom input[type="radio"] + label::before,
#firom input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
#firom input[type="radio"] + label::before,
#firom input[type="radio"] + label::after {
  border-radius: 50%;
}
#firom input[type="checkbox"] + label::before,
#firom input[type="checkbox"] + label::after {
  border-radius: 0.25em;
}
#firom input[type="radio"] + label::after,
#firom input[type="checkbox"] + label::after {
  background-color: #2c3e50;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
#firom input[type="radio"] + label::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%223%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}
#firom input[type="checkbox"] + label::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%20stroke-miterlimit%3D%2210%22%20points%3D%225%2C8%207%2C10%2011%2C6%20%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}
#firom input[type="radio"]:focus + label::before,
#firom input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}
#firom input[type="radio"]:checked + label::after,
#firom input[type="checkbox"]:checked + label::after {
  display: block;
}
#firom input[type="radio"]:checked + label::before,
#firom input[type="radio"]:checked + label::after,
#firom input[type="checkbox"]:checked + label::before,
#firom input[type="checkbox"]:checked + label::after {
  -webkit-animation: cd-bounce 0.3s;
          animation: cd-bounce 0.3s;
}

#firom input,
#firom textarea,
#firom select,
#firom label {
  color: #353535;
}

#firom input[type="text"],
#firom input[type="email"],
#firom textarea,
#firom select,
#firom legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#firom input[type="text"],
#firom input[type="email"],
#firom textarea,
#firom select {
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

#firom input[type="text"]:focus,
#firom input[type="email"]:focus,
#firom textarea:focus,
#firom select:focus {
  outline: none;
  border-color: #2c3e50;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

#firom .select {
  position: relative;
  display: inline-block;
  margin: 0 10px 17px 0;
}
#firom .select::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpolygon%20fill%3D%22%232c3e50%22%20points%3D%220.9%2C5.5%203.1%2C3.4%208%2C8.3%2012.9%2C3.4%2015.1%2C5.5%208%2C12.6%20%09%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E")
    no-repeat center center;
  pointer-events: none;
}

#firom .select--multiple select {
      height: 5rem;
}
#firom .select--multiple::after {
  content: none;
}

#firom select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
#firom select::-ms-expand {
  display: none;
}

#firom textarea {
  min-height: 120px;
  resize: vertical;
  overflow: auto;
}

#firom input[type="submit"] {
  border: none;
  background: #2c3e50;
  border-radius: 0.25em;
  padding: 12px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.no-touch #firom input[type="submit"]:hover {
  background: #42a2e1;
}
#firom input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
#firom input[type="submit"]:active {
  transform: scale(0.9);
}

#firom .error-message {
  height: 35px;
  margin: 0px;
}
#firom .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0.25em;
  padding: 16px;
}

.select--birghtday, .select--passday { width: 80px; }
.select--birghtmounth, .select--passmounth { width: 120px; }
.select--birghtyear, .select--passyear { width: 90px; }
.select--full { width: 100%; }
#firom .select--passport { width: 250px; margin-right: 0px; }

.passport-column .fieldset { margin-right: 10px; }

.button--confirm { margin-bottom: 35px; }


#firom input[type="text"] {
  box-sizing: border-box;
}

.separate { 
  width: 80%; 
  border-bottom: 1px solid #cdcdcd; 
  margin: auto;
   display:                 flex;
  flex-wrap:               wrap;
  justify-content:         center;
  padding: 15px 0;
}

.street-column .fieldset{
  margin-right: 10px;
}

#firom .msg {
  color: #fff;
  padding: 20px 30px;
  margin-bottom: 10px;
}

#firom .msg--sucsess {
    background-color: #34ee97;
}

#firom .msg--error {
    background-color: #f75757;
}
#firom input[type="text"].invalid, #firom .select.invalid select { border-color: #f75757; }

@media (max-width: 790px) {
  .select--birghtday, .select--birghtmounth, .select--birghtyear { width: 100%; }
}
@media (max-width: 600px) {
  .custom-form .column-50 {
    width: 100%;
    margin: auto;
  }

  .select--passday { width: 120px; }
  .select--passmounth { width: 160px; }
  .select--passyear { width: 130px; }

  .fieldset--pass { width: 100%; }

  .street-column .fieldset { width: 48%; margin-right: 1%; }
}

@media (max-width: 500px) { 
  .select--passday, .select--passmounth, .select--passyear { width: 100%; }
}

@media (max-width: 450px) {
  .street-column .fieldset { width: 100%; margin-right: auto; }
}


@-webkit-keyframes cd-bounce {
  0%,
  100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}