<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		#simon .board, #simon .control { display: inline-block; }
		#simon .board { width: 200px; }
		#simon .simon__item {
			width: 100px;
			height: 100px;
			display: inline-block;
			opacity: .5;
			cursor: pointer;
		}

		#simon .simon__item:active, #simon .simon__item--active {
			opacity: 1;
		}
	</style>
</head>
<body>
	<div id = "simon">
		<div class = "board">
			<div v-on:click="makeSound(note.colorId);" class = "simon__item" v-for="note in arNote" :id="note.colorId" :style="{ 'background-color' : note.colorId}"></div>
		</div>
		<div class = "control">
			<div v-show="gameover">GameOver!</div>
			Round {{ round }}
			<div class = "control__item" v-for="level in arLevels">
				<input :disabled="gameover == false" type = "radio" name = "level" :id = "'level-radio-' + level.levelId" v-model="levelIndex" :value="level.levelId">
				<label :for = "'level-radio-' + level.levelId">Lavel {{ level.levelId }}</label>
			</div>
			<div class = "control__item">
				<button v-on:click="start()" :disabled="gameover == false">Start</button>
			</div>
		</div>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script>
		let simon = Vue.createApp({
			data: () => {
				return {
					round: 0,
					levelIndex: 1,
					gameover: NaN,
					sequence: [],
					sequenceIndex : 0,
					arNote: [
						{ colorId: 'Red', sound: 'sounds_1.mp3'},
						{ colorId: 'Blue', sound: 'sounds_2.mp3'},
						{ colorId: 'Orange', sound: 'sounds_3.mp3'},
						{ colorId: 'Green', sound: 'sounds_4.mp3'}
					],
					arLevels: [
						{ levelId: 1, delay: 1500},
						{ levelId: 2, delay: 1000},
						{ levelId: 3, delay: 400},
					]
				}
			},
			methods: {
				playFile(sNameFile) {
					let audio = new Audio('misc/' + sNameFile);
					audio.play();
				},
				async makeSound(colorId) {
					let colorNote = this.arNote.find( (item)=>{ return item.colorId == colorId});
					this.playFile( colorNote.sound );
					if (this.isPlayed === false)
						if (colorId == this.sequence[ this.sequenceIndex ]) {
							if (this.sequenceIndex == this.sequence.length - 1) {
								await this.wait(1000);
								this.makeRound();
								return
							}
						++this.sequenceIndex;
						} else this.end();
				},
				start() {
					this.gameover = false;
					this.round = 0;
					this.makeRound();
				},
				async wait(ms) {
					return new Promise((resolve) => {
						setTimeout(resolve, ms);
					});
				},
				async makeRound() {
					this.sequenceIndex = 0;
					++this.round;
					let randomIndexNote = Math.floor(Math.random() * (4 - 1) + 1);
					this.sequence.push( this.arNote[ randomIndexNote ].colorId );
					await this.playSequence();
				},
				async playSequence() {
					this.isPlayed = true;
					function triggerMouseEvent(targetNode, eventType) {
				        let clickEvent = document.createEvent('MouseEvents');
				        clickEvent.initEvent(eventType, true, true);
				        targetNode.dispatchEvent(clickEvent);
				    }
					let levelIndex = this.levelIndex;
					let lavelItem = this.arLevels.find( (item)=> {return item.levelId == levelIndex} );
					for (let boardColor of this.sequence) {
						let boardNode = document.getElementById(boardColor);
						if (boardNode) {
							boardNode.classList.add('simon__item--active');
							await this.wait(lavelItem.delay);
							boardNode.classList.remove('simon__item--active');
							boardNode.click();
						}
					}

					this.isPlayed = false;
				},
				end() {
					this.sequence = new Array();
					this.gameover = true;
				}
			}
		});
		simon.config.devtools = true;
		simon.mount('#simon');
	</script>
</body>
</html>